<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IUBAT Programming Club Seniors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css" />

  </head>
  <body>

    <div>
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light "
          style="background-color: #e3f2fd"
        >
          <a class="navbar-brand text-primary" href="#">IUBAT_CPC</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/Client/View/Home/Index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/User/ProblemList.html"
                  >Problems</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/User/ProblemList.html"
                  >Achivements</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/Home/Achivement.html"
                  >Notice</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/Home/Notice.html">Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/Home/CurrentMember.html"
                  >Members</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Client/View/Home/SeniorsProfile.html"
                  >Seniors</a
                >
              </li>
              
            </ul>
            <span>
              <a class="text-secondary" href="#">Reg</a>
              <a class="text-secondary" href="#">Login</a>
            </span>
             
          </div>
        </nav>
      </div>






    <div
      class="vh-100 d-flex justify-content-center align-items-center mt-5"
    >
      <div class="container  d-flex justify-content-around flex-sm-wrap">


        <div class="card p-2 mb-3">
          <div class="p-info px-3 py-3">
            <div>
              <h5 class="mb-0">Ishmam Rahman Omi</h5>
              <span>Software Engineer at BRAC IT</span>
            </div>
            <div class="p-price d-flex flex-row">
              <span>@</span>
              <h3>Hi</h3>
            </div>
            <div class="heart"><i class="bx bx-heart"></i></div>
          </div>
          <div class="text-center p-image" >
            <img src="/static/img/omi.jpg" style="border-radius: 70%;" />
          </div>
          <div class="p-about text-justify">
            <p>
                Bachelor's degree in Computer Science or equivalent practical experience. Experience with software development in general purpose programming
            </p>
          </div>
          <div class="buttons d-flex flex-row gap-3 px-3">
            <p class="w-100 mr-2">Email: </p>
            <p class="w-100">Ishmam@gmail.com</p>
          </div>
        </div>


        <div class="card p-2 mb-3">
            <div class="p-info px-3 py-3">
              <div>
                <h5 class="mb-0">Saidur Rahman Akash</h5>
                <span>Software Engineer at iBOS</span>
              </div>
              <div class="p-price d-flex flex-row">
                <span>@</span>
                <h3>At</h3>
              </div>
              <div class="heart"><i class="bx bx-heart"></i></div>
            </div>
            <div class="text-center p-image" >
              <img src="/static/img/akash.jpg" style="border-radius: 70%;" />
            </div>
            <div class="p-about text-justify">
              <p>
                  Bachelor's degree in Computer Science or equivalent practical experience. Experience with software development in general purpose programming
              </p>
            </div>
            <div class="buttons d-flex flex-row gap-3 px-3">
              <p class="w-100 mr-2">Email: </p>
              <p class="w-100">Akash@gmail.com</p>
            </div>
          </div>



          <div class="card p-2 mb-3">
            <div class="p-info px-3 py-3">
              <div>
                <h5 class="mb-0">Plabon Biswas</h5>
                <span>Software Engineer at Orbitax</span>
              </div>
              <div class="p-price d-flex flex-row">
                <span>@</span>
                <h3>Know</h3>
              </div>
              <div class="heart"><i class="bx bx-heart"></i></div>
            </div>
            <div class="text-center p-image" >
              <img src="/static/img/plabon.jpg" style="border-radius: 70%;" />
            </div>
            <div class="p-about text-justify">
              <p>
                  Bachelor's degree in Computer Science or equivalent practical experience. Experience with software development in general purpose programming
              </p>
            </div>
            <div class="buttons d-flex flex-row gap-3 px-3">
              <p class="w-100 mr-2">Email: </p>
              <p class="w-100">Plabon@gmail.com</p>
            </div>
          </div>


          
          <div class="card p-2 mb-3">
            <div class="p-info px-3 py-3">
              <div>
                <h5 class="mb-0">Debotush Dam</h5>
                <span>Software Engineer at Viasoft</span>
              </div>
              <div class="p-price d-flex flex-row">
                <span>@</span>
                <h3>Why</h3>
              </div>
              <div class="heart"><i class="bx bx-heart"></i></div>
            </div>
            <div class="text-center p-image" >
              <img src="/static/img/Dam.jpg" style="border-radius: 70%;" />
            </div>
            <div class="p-about text-justify">
              <p>
                  Bachelor's degree in Computer Science or equivalent practical experience. Experience with software development in general purpose programming
              </p>
            </div>
            <div class="buttons d-flex flex-row gap-3 px-3">
              <p class="w-100 mr-2">Email: </p>
              <p class="w-100">Dam@gmail.com</p>
            </div>
          </div>

      </div>


    </div>

    <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"></script>
 

    
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  
  

<script src="/static/Js/jquery.min.js"></script>
<script src="/static/Js/popper.js"></script>
<script src="/static/Js/bootstrap.min.js"></script>
<script src="/static/Js/owl.carousel.min.js"></script>
<script src="/static/Js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"76881d67af7691a8","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}' crossorigin="anonymous"></script>





</body>
</html>
